@model IEnumerable<ProyectoTienda.Articulo>

@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

<ul class="cyb-card-menu-container">
    @foreach (var item in Model)
    {
        <li class="cyb-card-menu">
            <div class="cyb-card-img">
                <img src="../@Url.Content(item.img)" alt="Image" />
            </div>
            <div class="cyb-card-info">
                <div class="cyb-card-title">
                    <h1>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </h1>
                </div>
                <div class="cyb-card-subtitle">
                    <h2>
                        @Html.DisplayFor(modelItem => item.precio)€ -
                                        Stock (@Html.DisplayFor(modelItem => item.stock))
                    </h2>
                </div>
                <div class="cyb-card-button">
                    @if (item.stock > 0)
                    {
                        @Html.ActionLink("Añadir al carrito", "Add", new { id = item.Id })
                    } else
                    {
                        <p>No hay stock</p>
                    }
                </div>
            </div>
        </li>
    }
</ul>

@if (TempData["notice_success"] != null)
{
    <script>alertify.success("@TempData["notice_success"]");</script>
}

@if (TempData["notice_error"] != null)
{
    <script>alertify.error("@TempData["notice_error"]");</script>
}